.navbar {
  background-color: transparent;
}

.top-nav-collapse {
  background-color: rgb(49, 52, 58);
}

@media only screen and (max-width: 768px) {
  .navbar {
    background-color: rgb(49, 52, 58);
  }
}
